*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}
.topbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type:none;

}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;

}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left:25px;
  padding-right:25px;
}
.row{
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col1{
  flex-basis: 50%;
  min-width: 300px;
}
.col1 img{
  max-width: 100%;
  padding: 50px 0;
}
.col1 h1{
  font-size: 50px;
  line-height: 50px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: #3bd8ff;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius:30px;
}


.small-continer{
  max-width: 1080px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 5%;
  border: -20px;
  width: 100%;
  padding-left: 10px;
  padding-right: -108px;
}


.col-4{
  flex-basis: 25%;
  padding: -5px ;
  min-width: 200px;
  margin-top: 15px;
  margin-right: -60px;
  margin-left: -60px;
  margin-bottom: 20px;
  padding-right: -25px;
  transition: transform 0.5s;
}
.col-4 img{
  width:50%;
  box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
 
}
.title{
  text-align: left;
  margin: 20px auto 25px;
  position: relative;
  line-height: 20px;
  color: #555;
}
.title::after{
  content: '';
  background: #3bd8ff;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position : absolute;
  bottom:-30%;
  left:5%;
  transform: translateX(-20%);
}

h4{
  color:#555;
  font-weight: normal;
}
.col-4 p{
font-size: 14px;
}
.rating  {
  color:#3bd8ff
}
.col-4:hover{
  transform: translateY(-5px);
}



#recommendations div {
  margin: 10px 0;
}


